// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// body .front{
//   font-family: 'Poppins', sans-serif;
//   color: rgb(44, 44, 44);
// }
// .sans {
//   font-family: 'roboto', sans-serif;
// }

$default   : #0598c0;
:root {
  --page-width: 600px;
  --blue-light: #c0eec6;
  --default-theme: $default;
  --default-dark: #464646;
}
* {
  outline: none;
}
body.body--dark {
  .mobile-view {
    background: var(--q-color-dark);
    color: #e0e0e0;
  }
  .product-card{
    background-color: #5e5e5e;
  }
}
body.body--light {
  background: #e4e4e4;
  .admin-layout {
    background-color: #ffffff;
  }
  .mobile-view {
    .q-card__section.product-card{
      background-color: #ffffff;
    }
    background: #fff;
    color: #333333;
  }
}

@import 'main';
@import 'responsive';