<!DOCTYPE html>
<html lang="id" prefix="og: https://ogp.me/ns#">
  <head>
    <title><%= productName %></title>
    <meta name="description" content="<%= productDescription %>" data-qmeta="description">

    <meta charset="utf-8">
    <meta name=format-detection content="telephone=no">
    <meta name=msapplication-tap-highlight content=no>
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel=icon type=image/png href=/icon/favicon.png>
    <link rel=icon type=image/png sizes=96x96 href=/icon/icon-96x96.png>
    <link rel=icon type=image/png sizes=192x192 href=/icon/icon-192x192.png>

    <meta property="og:site_name" content="<%= productName %>" data-qmeta="ogSitename">
    <meta property="og:title" content="<%= productName %>" data-qmeta="ogTitle">
    <meta property="og:description" content="<%= productDescription %>" data-qmeta="ogDescription">
    <meta property="og:type" content="website" data-qmeta="ogType"/>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  </head>

  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
